
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Assignment</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <h2>Register</h2>
            <div ng-show="model.errorMessage" class="alert alert-danger" role="alert">
                {{model.errorMessage}}
            </div>
            <form method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username"
                           ng-model="user.username"
                           class="form-control"
                           placeholder="siddhantb"
                           id="username" />

                    <label for="password">Password</label>
                    <input name="password"
                           class="form-control"
                           ng-model="user.password"
                           placeholder="qwerty@123"
                           type="password"
                           id="password" />

                    <label for="verifyPassword">Verify Password</label>
                    <input name="verifyPassword"
                           class="form-control"
                           ng-model="user.verifyPassword"
                           placeholder="qwerty@123"
                           type="password"
                           id="verifyPassword" />

                    <a class="btn btn-default btn-block btn-primary"
                       ng-click="model.registerUser(user)"
                       role="button">Register</a>

                    <a class="btn btn-default btn-block btn-danger"
                       href="#!/login"
                       role="button">Cancel</a>

                </div>
            </form>
        </div>