    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right navbar-text-no-right-margin">
                <a href="#!/login">
                    Login
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Assignment</a>
            </div>
        </div>
    </nav>

    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>CS5610 Assignment</h1>
            <p>The website that I have built through a series of assignments will allow users to create and use online,
                mobile friendly websites. It is a web application maker that allows developers to create their own websites.
                The website has been built using the four underpinning technologies MongoDB, Express, AngularJS, and Node.js.</p>
        </div>
    </div> <!-- /container -->