<nav class="navbar navbar-fixed-top snb-header-class" ng-controller="HeaderController as headerControllerModel">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-text pull-right">
            <a href="#!/register" class="active" ng-show="!user">
                <i class="glyphicon glyphicon-link" aria-hidden="true"></i>
                Register
            </a>
            <a href="#!/login" ng-show="!user">
                <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                Login
            </a>
            <a href="#!/admin" ng-show="user && user.role == 'admin'">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                Admin
            </a>
            <a href="#!/user/{{user._id}}" ng-show="user">
                <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                {{user.username}}
            </a>
            <a ng-show="user" ng-click="headerControllerModel.logout()">
                <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
                Logout
            </a>
        </div>
        <div class="navbar-header">
            <a id="snb-title-website" class="navbar-brand" ng-click="headerControllerModel.home()">Palate</a>
        </div>
    </div>
</nav>