body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fbfb;
    padding-top: 45px;
    margin-bottom: 60px;
}

input, textarea, select {
    margin-bottom: 5px;
}

.snb-header-class{
    /*background-color: #7b080c;*/
    background-color: #E52B50;
}

#snb-title-website {
    font-size: 25px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #222222;
}

.navbar-brand{
    color: white;
}

.navbar-brand :hover{
    color: white;
}

.navbar-toggle{
    color:white;
}



#exTab3 .tab-content {
    color : #222222;
    background-color: #f9fbfb;
}

#exTab3 .link-red {
    color:#E52B50;
}

.link-red {
    color:#E52B50;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #E52B50;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

#exTab3 .profile-name {
    margin-top: 25px;
}

#exTab3 .profile-navbar {
    margin-top: 20px;
}

#exTab3 .padding-top-seven {
    padding-top: 7px;
}

.media-object-restaurant, .profile-photo {
    max-height: 100px;
    max-width: 100px;
}

.thumbnail{
    border-color: #E52B50;
    height: 75px;
}

.pitch{
    font-size: 30px;
    color: #E52B50;
}

.input-group {
    margin-bottom: 10px;
}

.details .margin-top {
    margin-top: 15px;
}

.details .nomargin {
    margin: 0;
}

.limit-media-object-dimensions {
    height: 64px;
    width: 64px;
}

.image-newsize {
    height: 110px;
    width: 140px;
    margin-top:10px;
}

.faded-font {
    color:#89959B;
    font-size: 12px;
}

.rating-bar {
    position: absolute;
    background-color: #3e8f3e;
    border-radius: 4px;
    z-index: 3;
    right:10px;
    color: white;
    padding: 7px 18px 7px 18px ;
    margin-top:10px
}

a[data-disabled=true] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .4;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.navbar-nav a {
    margin-right: 20px;
}

#loader {
    color: #E52B50;
    position: absolute;
    left: 45%;
    top: 50%;
    z-index: 1;
}

.theadrow {
    background-color: #cccccc;
    color: #E52B50;
}

.nowrap {
    white-space: nowrap;
}

.pencilicon {
    font-size: 16px;
    color:  cornflowerblue;
}

.removeicon {
    font-size: 16px;
    color: red;
}

.page-header, .sub-header {
    color: #E52B50;
}

@media (max-width: 767px) {
    .pitch {
        font-size: 24px;
    }

    .navbar-nav a {
        margin-right: 10px;
        font-size: 12px;
    }

    .h3, h3 {
        font-size: 21px;
    }
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    color: #E52B50;
    z-index: 3;
}


