
    <form method="post" action="/api/upload" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input name="Name"
                   class="form-control"
                   ng-model="model.presentWidget.name"
                   id="name" />

            <label for="text">Text</label>
            <input name="text"
                   class="form-control"
                   ng-model="model.presentWidget.text"
                   id="text" />

            <label for="url">URL</label>
            <input name="url"
                   class="form-control"
                   ng-model="model.presentWidget.url"
                   placeholder="https://lh3.googleusercontent.com/Ffvfds.jpg"
                   id="url" />

            <label for="width">Width</label>
            <input name="width"
                   class="form-control"
                   ng-model="model.presentWidget.width"
                   id="width" />

            <!--<label for="upload">Upload</label>-->
            <!--<input name="upload"-->
                   <!--class="form-control"-->
                   <!--type="file"-->
                   <!--id="upload"/>-->

            <!--<a class="btn btn-default btn-block btn-success"-->
               <!--href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"-->
               <!--role="button">Upload</a>-->

            <div class="form-group">
                <label for="widgetUpload">Upload</label>
                <input type="file" id="widgetUpload" name="myFile" class="form-control"/>
                <input name="widgetId" value="{{model.presentWidget._id}}" style="display: none"/>
                <input name="pageId" value="{{model.pageId}}" style="display: none"/>
                <input name="userId" value="{{model.userId}}" style="display: none"/>
                <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
                <button style="margin-bottom: -10px;" type="submit" class="btn btn-block btn-primary">Upload Image</button>
            </div>

            <a class="btn btn-default btn-block btn-danger"
               ng-click="model.deleteWidget()"
               role="button">Delete</a>
        </div>p
    </form>