<div id="exTab3" class="container">
    <div class="profile-name" ng-hide="model.user._id == model.navUserId">
        <div class="pull-right padding-top-seven">
            <a href=""
               ng-click="model.followFromProfile()"
               ng-hide="model.alreadyFollowing"
               class="btn-sm btn-success">Follow
            </a>
            <a href=""
               ng-click="model.unfollowFromProfile()"
               ng-show="model.alreadyFollowing"
               class="btn-sm btn-danger">Unfollow
            </a>
        </div>
        <h2 style="display:inline">{{model.navUser.firstName}} {{model.navUser.lastName}}</h2>
    </div>
    <div class="profile-navbar">
        <ul class="nav nav-pills">
            <li ng-hide="model.user._id != model.navUserId">
                <a class="link-red" href="#!/user/{{model.navUserId}}" data-toggle="tab">
                    <h5>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        Edit Profile
                    </h5>
                </a>
            </li>
            <li class="active">
                <a data-toggle="tab">
                    <h5>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Followers ({{model.navUser.followers.length}})
                    </h5>
                </a>
            </li>
            <li>
                <a class="link-red" href="#!/user/{{model.navUserId}}/following" data-toggle="tab">
                    <h5>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Following ({{model.navUser.following.length}})
                    </h5>
                </a>
            </li>
            <li>
                <a class="link-red" href="#!/user/{{model.navUserId}}/reviews" data-toggle="tab">
                    <h5>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        Reviews
                    </h5>
                </a>
            </li>
            <li>
                <a class="link-red" href="#!/user/{{model.navUserId}}/likes" data-toggle="tab">
                    <h5>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        Likes ({{model.navUser.restaurantLikes.length}})
                    </h5>
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-content clearfix">
        <div class="tab-pane active">

        </div>
    </div>
</div>
