<div id="exTab3" class="container">
    <ul class="nav nav-pills">
        <li>
            <a class="link-red" href="#!/user" data-toggle="tab">
                <h5>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    Edit Profile
                </h5>
            </a>
        </li>
        <li class="active">
            <a data-toggle="tab">
                <h5>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Followers ({{model.navUser.followers.length}})
                </h5>
            </a>
        </li>
        <li>
            <a class="link-red" href="#!/user/following" data-toggle="tab">
                <h5>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Following ({{model.navUser.following.length}})
                </h5>
            </a>
        </li>
        <li>
            <a class="link-red" href="#!/user/reviews" data-toggle="tab">
                <h5>
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    Reviews
                </h5>
            </a>
        </li>
        <li>
            <a class="link-red" href="#!/user/likes" data-toggle="tab">
                <h5>
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    Likes ({{model.navUser.restaurantLikes.length}})
                </h5>
            </a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active">

            <h1 class="page-header less-top-margin">Followers</h1>

            <div class="row" ng-hide="model.navUser.followers.length > 0">
                <div class="alert alert-info alert-box" role="alert">
                    <div ng-show="model.user._id == model.navUserId">
                        <b>Info! </b>
                        You do not have any followers yet.
                    </div>
                    <div ng-hide="model.user._id == model.navUserId">
                        <b>Info! </b>
                        User does not have any followers yet.
                    </div>
                </div>
            </div>

            <div ng-repeat="user in model.users">
                <div class="media">
                    <a class="media-left" href="">
                        <img class="media-object media-object-movie img-circle"
                             src="/project/images/Photo-not-available.png"
                             alt=""
                             ng-show="!user.imgUrl">
                        <img class="media-object media-object-movie img-circle"
                             ng-src="{{user.imgUrl}}"
                             alt=""
                             ng-show="user.imgUrl">
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a ui-sref="profile.reviews({userId: user._id})">
                                {{user.firstName + " " + user.lastName}}
                            </a>
                        </h3>
                        <div ng-hide="user.itsMe">
                            <a href=""
                               ng-click="followersControllerModel.follow($index)"
                               ng-hide="user.alreadyFollowing"
                               class="btn-sm btn-success">Follow
                            </a>
                        </div>
                        <div ng-hide="user.itsMe">
                            <a href=""
                               ng-click="followersControllerModel.unfollow($index)"
                               ng-show="user.alreadyFollowing"
                               class="btn-sm btn-danger">Unfollow
                            </a>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </div>
    </div>
</div>
