<div id="exTab3" class="container">
    <div class="profile-navbar">
        <ul class="nav nav-pills">
            <li class="active">
                <a data-toggle="tab">
                    <h5>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        Edit Profile
                    </h5>
                </a>
            </li>
            <li>
                <a class="link-red" href="#!/user/{{model.user._id}}/followers" data-toggle="tab">
                    <h5>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Followers ({{model.user.followers.length}})
                    </h5>
                </a>
            </li>
            <li>
                <a class="link-red" href="#!/user/{{model.user._id}}/following" data-toggle="tab">
                    <h5>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Following ({{model.user.following.length}})
                    </h5>
                </a>
            </li>
            <li>
                <a class="link-red" href="#!/user/{{model.user._id}}/reviews" data-toggle="tab">
                    <h5>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        Reviews
                    </h5>
                </a>
            </li>
            <li>
                <a class="link-red" href="#!/user/{{model.user._id}}/likes" data-toggle="tab">
                    <h5>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        Likes ({{model.user.restaurantLikes.length}})
                    </h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content clearfix">
        <div class="tab-pane active">
            <form method="post">
                <div class="form-group container">

                    <div class="alert alert-success" ng-show="model.message">
                        {{model.message}}
                    </div>

                    <label for="username">Username</label>
                    <input name="username"
                           class="form-control"
                           readonly
                           ng-model="model.user.username"
                           id="username" />

                    <label for="email">Email</label>
                    <input name="email"
                           type="email"
                           class="form-control"
                           ng-model="model.user.email"
                           placeholder="siddhantn@hotmail.com"
                           id="email" />

                    <label for="firstName">First Name</label>
                    <input name="firstName"
                           class="form-control"
                           placeholder="Siddhant"
                           ng-model="model.user.firstName"
                           id="firstName" />

                    <label for="lastName">Last Name</label>
                    <input name="lastName"
                           class="form-control"
                           placeholder="Benadikar"
                           ng-model="model.user.lastName"
                           id="lastName" />

                    <label for="dob">Date of Birth</label>
                    <input name="dob"
                           class="form-control"
                           type="date"
                           ng-model="model.user.dob"
                           id="dob" />

                    <a class="btn btn-default btn-block btn-primary"
                       ng-click="model.updateUser(model.user)"
                       role="button">Update</a>

                    <a class="btn btn-default btn-danger btn-block"
                       ng-click="model.unregister(model.user)"
                       role="button">Unregister</a>
                </div>
            </form>
        </div>
    </div>
</div>
