
<div class="container">
    <h2>Register</h2>
    <div ng-show="model.errorMessage" class="alert alert-danger" role="alert">
        {{model.errorMessage}}
    </div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username"
                   ng-model="user1.username"
                   class="form-control"
                   placeholder="* Required"
                   id="username" />

            <label for="password">Password</label>
            <input name="password"
                   class="form-control"
                   ng-model="user1.password"
                   placeholder="* Required"
                   type="password"
                   id="password" />

            <label for="verifyPassword">Verify Password</label>
            <input name="verifyPassword"
                   class="form-control"
                   ng-model="user1.verifyPassword"
                   placeholder="* Required"
                   type="password"
                   id="verifyPassword" />

            <label for="firstName">First Name</label>
            <input name="firstName"
                   ng-model="user1.firstName"
                   class="form-control"
                   placeholder="* Required"
                   id="firstName" />

            <label for="lastName">Last Name</label>
            <input name="lastName"
                   ng-model="user1.lastName"
                   class="form-control"
                   placeholder="* Required"
                   id="lastName" />

            <a class="btn btn-default btn-block btn-primary"
               ng-click="model.registerUser(user1)"
               role="button">Register</a>

            <a class="btn btn-default btn-block btn-danger"
               href="#!/login"
               role="button">Cancel</a>

        </div>
    </form>
</div>