
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3 visible-md visible-lg">
                    <div class="navbar-text navbar-text-no-left-margin pull-left">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand">Pages</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="navbar-text pull-right navbar-text-no-right-margin">
                        <a ng-click="model.updatePage()">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                    <div class="visible-sm visible-xs navbar-text navbar-text-no-left-margin pull-left">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand">Edit Page</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 visible-md visible-lg snb-split-view-left">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-xs-10">Name</div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                                    <span class="pull-right glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li ng-repeat="page in model.pages" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <a class="snb-link-blue" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                                    {{page.name}}
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <a class="snb-link-blue" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                                    <span class="pull-right glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-9 snb-split-view-right">
                <div class="alert alert-success" role="alert" ng-show="model.message">
                    {{model.message}}
                </div>
                <form method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name"
                               ng-model="model.presentPage.name"
                               class="form-control"
                               value="Home"
                               id="name" />

                        <label for="description">Description</label>
                        <textarea name="description"
                                  class="form-control"
                                  ng-model="model.presentPage.description"
                                  rows="5"
                                  placeholder="Your description goes here..."
                                  id="description"></textarea>

                        <a class="btn btn-default btn-block btn-success"
                           ng-click="model.updatePage()"
                           role="button">Confirm edit</a>

                        <a class="btn btn-default btn-block btn-danger"
                           ng-click="model.deletePage()"
                           role="button">Delete</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="#!/user/{{model.userId}}" class="glyphicon glyphicon-user"></a>
            </div>
        </div>
    </footer>